<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.jcesarmobile.OCRPlugin"
        version="0.1.0">
    <name>OCRPlugin</name>
    <description>Cordova OCR Plugin</description>
    <license>MIT</license>
    <keywords>cordova,ocr</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/OCRPlugin.js" name="OCRPlugin">
        <clobbers target="window.OCRPlugin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="com.jcesarmobile.OCRPlugin">
                <param name="ios-package" value="OCRPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/iOS/claseAuxiliar.h" />
        <source-file src="src/iOS/claseAuxiliar.mm" />
        <header-file src="src/iOS/OCRPlugin.h" />
        <source-file src="src/iOS/OCRPlugin.m" />
        <source-file src="dependencies" framework="true" />
        <source-file src="tessdata" framework="true" />
    </platform>

</plugin>
